In [164]:
'''
Import all the necessary libraries
'''
import nltk
import pandas as pd
import numpy as np
from nltk.corpus import webtext,stopwords,wordnet
import re

In [146]:
'''
Import raw data set
'''
raw_data = pd.read_csv('TV_Dataset.csv')

In [148]:
raw_data.head()

,Product Name,Discounted Price,Orginal Price,Warranty,Stock Status
0,Philips 32PHT4002/98 32-inch 4000 Series Slim ...,699.00,799.00,2 Years,In stock
1,Toshiba 43-inch Smart LED TV,"1,399.00","1,645.00",2 Years,In stock
2,Sony 32-inch LED TV,989.00,"1,036.00",2 Years,In stock
3,Sony 40-inch Full HD LED TV,"1,299.00","1,444.00",2 Years,In stock
4,Toshiba 49-inch Full HD LED TV,"1,499.00","2,299.00",2 Years,In stock

In [233]:
'''
Create a string compose of all the product name
'''
raw_text = ' '.join(raw)

In [225]:
token_words = word_tokenize(raw_text)

In [234]:
product_brand = 'ACER APPLE BEATS BY DRE BRAUN CORNELL DIMSUM ELBA ELECTROLUX FABER GOPRO HATARI HISENSE HITACHI HONEYWELL HONOR LG MEC MICROSOFT MIDEA MORPHY RICHARDS MSI NISSEI OPPO ORAL-B PANASONIC PENSONIC PHILIPS ROBAM SAMSUNG SONY SHARP TOSHIBA TUSCANI VIVO'
product_brand = product_brand.lower().split(' ')

In [244]:
brand_removed = [word.lower() for word in token_words if word.lower() not in product_brand]

In [272]:
countDict = Counter((brand_removed))

In [285]:
title_df = pd.DataFrame.from_dict(countDict,orient='index',columns=['count'])

In [286]:
title_df.head()

              count
32pht4002/98      2
32-inch           7
4000              2
series            2
slim              5

In [321]:
title_df['count'].sort_values(ascending=False)

tv                103
4k                 55
uhd                44
smart              42
led                36
hd                 35
ultra              23
65-inch            17
55-inch            16
full               15
android            13
skyworth           11
50-inch            11
qled                9
40-inch             9
75-inch             8
49-inch             7
32-inch             7
43-inch             7
hdr                 7
oled                5
pro                 5
slim                5
ru7100              5
x70f                4
q60r                4
|                   3
senheng             3
45-inch             3
q75r                3
                 ...
24-inch             1
pen-pled3211t       1
43pft4002s/98       1
50                  1
55                  1
82-inch             1
in                  1
70                  1
50a6501uw           1
a6501               1
50a6100uw           1
a6100               1
mag27c              1
optix               1
monitor             1
gaming              1
27-inch             1
rasy                1
th-75fx750k         1
th-55fz950k         1
th-55fx600k         1
th-65fz950k         1
ledtv               1
nu7100              1
ua65nu7100kxxm      1
kd-65a8f            1
kd-55a8f            1
85-inch             1
40l5650vm           1
nu7300              1
Name: count, Length: 88, dtype: int64

# Conclusion

Upon Evaluation These are the features that can be extracted to from the product name:

- 4k
- UHD
- SMART
- LED
- ULTRA HD
- FULL HD
- ANDROID
- QLED
- OLED
- HDR
- PRO
- SLIM
- CURVED
- 8K
- THEATRE
- DYNAMIC RANGE
- SCREEN SIZE